@import "../variables";
@import "../mixins";
/*======= Navigation Styles =======*/

nav.menu{
	display: block;
	width: 100%;
	border-style: solid;
	border-width: 0 1px;
	border-color: $border-color-light;
	padding: 0 15px;
	ul{
		@include flexbox();
		margin-bottom: 0;
		li{
			padding: 0 12px;
			a{
				font-size: 14px;
				letter-spacing: 1px;
				display: inline-block;
				padding: 30px 5px;
				color: #eeeeee;
				font-weight: 600;
				text-transform: uppercase;
			}		
		}
	}
}